:root {
    --background-light: #F3F7FA;
    --elements-background: #FFF; 
    --blue: #2196F3;
    --text-color: #4A4A4A;
    --border-color: #DFE5EC; 
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background-light);
}

#root {
    max-width: 960px;
    display: grid;
    grid-template-columns: 33.42% 66.58%;
    grid-template-areas: 
    "logo logo"
    "filter tabs"
    "filter cards"
    "filter footer";
    justify-items: center;
    font-family: Open Sans;
}

.logo {
    grid-area: logo;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ---  filter  --- */

.filter {
    grid-area: filter;
    margin-right: 20px;
    width: 232px;
    height: 252px;
    border-radius: 5px;
    background: var(--elements-background);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.filter_text {
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; /* 100% */
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 2px;
    text-align: left;
    padding-left: 20px;
}


/* --- checkbox ---  */

.checkbox {
    margin-left: 20px;
}

.checkbox_input {
    width: 0;
    height: 0;
    margin: 0;
}

.checkbox_label {
    color: var(--text-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */

    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 16px;
    cursor: pointer;
}

.checkbox_label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url('../img/Checkbox-off.svg');
    margin-right: 10px;
  }

  .checkbox_label:checked:before {
    background-image: url('../img/Checkbox-on.svg');
  }

  
  /* --- card ---  */

.card {
    width: 502px;
    height: 184px;
    background: var(--elements-background);
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.10));
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.cards {
    grid-area: cards;
}

.footerButton {
    grid-area: footer;
    width: 502px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    border-radius: 5px;
    border: 0;
}

.footerButton__text {
    color: var(--elements-background);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.tab {
    width: 168px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--elements-background);
    border-color: var(--border-color);
    border-width: 1px;
    }

.left_tab {
    border-radius: 0 5px 5px 0;
}

.right_tab {
    border-radius: 5px 0 0 5px;
}

.center_tab {
    border-radius: 0;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}